@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

/* ---------- Header/Navbar Setup ---------- */
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
}

.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
}

.logo span{
    color: #ff0157;
    margin-left: -6px;
}

header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
}

header .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
}

header .navigation li a:hover{
    color: #ff0157;
}

/* ---------- Hero Setup ---------- */
.banner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
    background-size: cover;
}

.content{
    text-align: center;
    max-width: 875px;
}

.content h2{
    font-size: 5em;
    color: white;
}

.content p{
    margin: 15px;
    font-size: 1.25em;
    color: white;
}

.content .btn{
    display: inline-block;
    font-size: 1.5em;
    padding: 20px;
    background-color: #ff0157;
    margin-top: 25px;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
}

.content .btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* ---------- About Section Setup ---------- */
.about{
    padding: 75px;
}

.about .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row .column{
    width: 48%;
}

.row .imageBox{
    width: 100%;
    min-height: 300px;
}

.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutTitle span{
    color: #ff0157;
    font-size: 1.8em;
}

.aboutTitle{
    font-size: 2.25em;
}

.about p{
    font-size: 1.25em;
}

/* ---------- Menu Section Setup ---------- */
.menu{
    padding: 100px;
}

.menuText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.menuTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.35em;
    font-weight: 400;
    margin-left: 25px;

}

.menuTitle span{
    margin-left: 8px;
    font-size: 1.5em;
    color: #ff0157;
    font-weight: 600;
    margin-bottom: 10px;
}

.menuText p{
    font-size: 1.25em;
    padding-bottom: 15px;
}

.foodCardsContainer{;
    width: 100%;
    margin: 15px;
}

.foodCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foodCard{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin: 20px;
    border: 15px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.foodCard img{
    width: 100%;
    height: 300px;
}

.foodCard h3{
    display: flex;
    justify-content: space-around;
    font-size: 1.35em;
    font-weight: 500;
    padding: 10px;
    padding-top: 18px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin: 35px;
}

.buttonContainer .btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 1.75em;
    color: white;
    background-color: #ff0157;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}

.buttonContainer .btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* ---------- Experts Section Setup ---------- */
.experts{
    padding: 100px;
}

.expertsText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.expertsTitle{
    align-items: center;
    font-size: 2.25em;
    font-weight: 400;
    padding-bottom: 20px;
}

.expertsText p{
    font-size: 1.35em;
    font-weight: 400;
}

.expertCardsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 65px;
}

.expertCard{
    width: 300px;
    border: 15px solid white;
    box-shadow: 0 0 50px rgba(114, 114, 114, 0.4);
}

.expertCard h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45em;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 10px;
}