@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
}

/* ---------- Header/Navbar Setup ---------- */
header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
}

.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    background-color: inherit;
}

.logo span{
    color: #ff0157;
    background-color: inherit;
    margin-left: -6px;
}

header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
    background-color: inherit;
}

header .navigation li{
    background-color: inherit;
}

header .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
    background-color: inherit;
}

header .navigation li a:hover{
    color: #ff0157;
}

/* ---------- Hero Setup ---------- */
.banner{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://i.postimg.cc/s29LNR86/bg.jpg);
    background-size: cover;
}

.content{
    text-align: center;
    max-width: 875px;
}

.content h2{
    font-size: 5em;
    color: white;
}

.content p{
    margin: 15px;
    font-size: 1.25em;
    color: white;
}

.content .btn{
    display: inline-block;
    font-size: 1.5em;
    padding: 20px;
    background-color: #ff0157;
    margin-top: 25px;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
}

.content .btn:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* ---------- About Section Setup ---------- */
.about{
    padding: 75px;
}

.about .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row .column{
    width: 48%;
}

.row .imageBox{
    width: 100%;
    min-height: 300px;
}

.imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutTitle span{
    color: #ff0157;
    font-size: 1.8em;
}

.aboutTitle{
    font-size: 2.25em;
}

.about p{
    font-size: 1.25em;
}