@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    background-color: grey;
}

/* ---------- Header Setup ---------- */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    background-color: white;
}

.logo{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
    background-color: inherit;
}

.logo span{
    color: #ff0157;
    background-color: inherit;
}

header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
    background-color: inherit;
}

header .navigation li{
    background-color: inherit;
}

header .navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
    background-color: inherit;
}